.SlackApp {
  text-align: center;
}

.SlackApp-logo {
  animation: SlackApp-logo-spin infinite 20s linear;
  height: 80px;
}

.SlackApp-header {
  background-color: white;
  border-radius: 15px;
  color: white;
  height: 150px;
  padding: 10px;
}

.SlackApp-intro {
  font-size: large;
}

@keyframes SlackApp-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.LoginView {
  height: 50px;
  padding: 10px;
}
